body {
  font-family: "AirbnbCerealBook", sans-serif;
  font-size: 16px;
  background-color: #f1f1f1;
  color: #312b2b;
  opacity: 0.8;
}

.page-container {
  box-sizing: border-box;
  margin: 1rem auto;
  padding: 2rem;
  max-width: 1000px;
  background-color: white;
  font-size: 1rem;
}
